# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# Makefiles must use hard tabs (matches any file with Makefile or makefile in the name)
[*{M,m}akefile*]
indent_style = tab
