[kconfig]
file_matches = ^Kconfig$,^Kconfig\..+,^Kbuild$,^Kbuild\..+
line_comment_tokens = #
string_delims = ",'
flow = if,else,endif,depends,select,choice,endchoice,menu,endmenu,mainmenu
keywords = config,menuconfig,bool,int,hex,string,tristate,default,range,help,source,comment,on,optional
